.header {
  &__first-section {
    background-color: $whiteColor;
    &-content {
      padding: 1.25rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__language {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: $textColor;
    padding-left: 1.5rem;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__profile-photo-language {
    display: flex;
    align-items: center;
    margin-right: 7.9rem;
  }
  .profile-photo {
    &:hover {
      cursor: pointer;
    }
  }
  &__second-section {
    background-color: $headerBgColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.4rem 0;
  }
  &__nav {
    &-list {
      display: flex;
      gap: 1rem;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      transition: 0.3s;
      &:hover {
        background-color: $hoverBgColor;
        border-radius: 1rem;
      }
      &-text {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $navTextColor;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0 1rem;
    }
  }
  &__plus-icon {
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__third-section {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
  }
  &__button-arrow{
    transition: 0.3s;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  &__info-card {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    margin-left: 4.8rem;
    &-content {
      display: flex;
      gap: 0 1.5rem;
    }
    &-boat-photo{
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
    &-flag-title-profiles {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-flag-title {
      display: flex;
      align-items: center;
      gap: 0 1rem;
    }
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 116%;
      color: $textColor;
    }
    &-flag{
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        opacity: 0.6;
      }
    }
    &-profiles {
      display: flex;
      position: relative;
    }
    &-profile-photo {
      border: 0.2rem solid $whiteColor;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      max-width: 3rem;
      max-height: 3rem;
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    &-profile-photo-button {
      border: 0.2rem solid $whiteColor;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      color: $whiteColor;
      background-color: $textColor;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4rem;
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
  &__downloader {
    display: flex;
    align-items: flex-end;
    &-icon-text {
      display: flex;
      padding: 1rem 3.4rem;
      gap: 0 1.5rem;
      border: 0.1rem solid $textColor;
      border-radius: 0.8rem;
      margin-right: 4.8rem;
      background-color: $whiteColor;
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
    &-text {
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.1em;
      color: $textColor;
    }
  }
}
.logo-name {
  margin-left: 7.9rem;
}
