.header {
  background-color: $whiteColor;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.9rem;
  }

  &__menu {
    display: none;
  }


  &__profile-photo-language {
    display: flex;
    align-items: center;
    gap: 0 1.925rem;
  }

  .profile-photo {
    &:hover {
      cursor: pointer;
    }
  }

  &__language {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: $textColor;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.logo {
  padding: 1.8rem 0;
}

@media screen and (max-width: 1555px) {
  .header {
    &__content {
      padding: 0 1.6rem;
    }

    &__language {
      display: none;
    }
  }
}