@import 'mixines';
@import 'variablies';

.tasks {
  padding: 2.4rem;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.4rem;
  }
}

.time-zone {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  color: $grayText;
}

.control-panel {
  padding: 0 3.817rem;
  max-width: 56.5rem;
  display: flex;
  justify-content: space-between;
  background-color: $controlBg;
  border: 0.1rem solid #E0E0E0;
  border-radius: 0.8rem;

  &__button {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $textColor;
  }

  &__button_checked {
    background-color: $textColor;
    border-radius: 0.6rem;
    color: $whiteColor;
    padding: 1rem 4.117rem;
  }
}

.subtitle {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 0.2rem;
  @extend %blackTextMd;
}

.select {
  border: 0.1rem solid #BDBDBD;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76.2rem;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.select-text {
  padding: 1rem 1.2rem;
  @extend %blackTextMd;
}

.select-dropdown {
  margin-right: 0.8rem;
  fill: $dropdownFill;
}

.select-inputs-button {
  display: flex;
}

.selection-block {
  &__custom-checkbox {
    @extend %blackTextMd;
    border: 0.2rem solid #351F73;
    border-radius: 4rem;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox-block {
  display: flex;
  padding: 0 1.6rem;
  gap: 0.8rem;
}

#fake-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio-button {
  border: none;
  background-color: transparent;
}

.drafts {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;

  &__text {
    @extend %blackTextMd
  }

}

.button {
  padding: 1rem 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $whiteColor;
  border: none;
  border-radius: 0.4rem;
  background-color: $textColor;
  margin-left: 1.6rem;
}

.color-tasks-blocks {
  display: flex;
  gap: 0 1.6rem;
  padding: 2.4rem 0;

  &__title {
    padding-top: 2.4rem;
    padding-left: 2.4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $whiteColor;
  }

  &__content {
    display: flex;
    align-items: baseline;
    position: relative;
  }

  &__tasks-sum {
    font-style: normal;
    font-weight: 300;
    font-size: 5.6rem;
    line-height: 6.6rem;
    color: $whiteColor;
    padding: 0.8rem 1.2rem 1.6rem 2.4rem;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: $whiteColor;
  }

  &__button {
    position: absolute;
    left: 80%;
    top: 10%;
    display: flex;
    background-color: transparent;

  }
}

.green-block {
  @extend %colorBlocksProperties;
  background-color: $greenTaskBlock;
}

.violete-block {
  @extend %colorBlocksProperties;
  background-color: $violeteTaskBlock;
}

.pink-block {
  @extend %colorBlocksProperties;
  background-color: $pinkTaskBlock;
}

.gray-block {
  @extend %colorBlocksProperties;
  background-color: $grayTaskBlock;
}

.assignee-panels {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem 0;
}

.assignee-panel {
  display: flex;
  gap: 1.6rem;
}

.assignee-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  width: 57.3rem;
  height: 4.7rem;
  background-color: $controlBg;
  border-radius: 0.8rem;

  &_unassigned {
    background-color: $unassignedBg;
  }
}

.tasks-sum {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;

  &_unassigned {
    color: $redColor;
  }

  &_bold {
    font-weight: 700;
  }
}

.assignee-congestion {
  width: 57.3rem;
  height: 4.7rem;
  border-radius: 0.8rem;

  &__rendering {
    border-radius: 0.8rem;
    background-color: $menuBgColor;
    height: 100%;

    &_unassigned {
      background-color: $unassignedBg;
    }
  }
}

.profile-photo-position-name {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}

.assignee-position {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  &_unassigned {
    color: $redColor;
  }
}

.assignee-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grayText;
}

.tasks-sum-button {
  display: flex;
  align-items: center;
  gap: 0 1.2rem;
}

.dividing-line-wrapper {
  padding: 2.4rem 0;
}

.dividing-line {
  width: 100%;
  height: 0.1rem;
  background-color: $bgButton;
}

.created-closed-tasks-panels {
  display: flex;
  flex-direction: column;
  gap: 1.2rem 0;
  padding-top: 1.6rem;
}

.status-rendering-panels {
  display: flex;
  gap: 1.6rem;
}

.status-panel-congestion {
  width: 57.3rem;
  height: 2.8rem;
  border-radius: 0.8rem;

  &__rendering {
    border-radius: 0.8rem;
    height: 100%;
    background-color: $blueColor;
  }
}

.status-panel {
  width: 57.3rem;
  height: 2.838rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $controlBg;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
}

.status {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $textColor;

  &_bold {
    font-weight: 700;
  }
}

@media screen and (max-width: 1500px) {
  .select {
    width: 100%;
  }
}