$whiteColor: #ffffff;
$textColor: #351F73;
$grayText: #828282;
$menuBgColor: #46A6A4;
$navTextColor: rgba(255, 255, 255, 0.72);
$hoverBgColor: rgba(53, 31, 115, 0.2);
$bgColor: #E9E9E9;
$bgButton: #E0E0E0;
$yellowBg: #FDEFC8;
$controlBg: #F5F5F5;
$dropdownFill: #828282;
$greenTaskBlock: #3AAE27;
$pinkTaskBlock: #FF5F5F;
$violeteTaskBlock: #BF70B7;
$redColor: #D70000;
$unassignedBg: #FBE7E8;
$grayTaskBlock: #828282;
$blueColor: #00B9FF;
